* {
    margin: 0;
    padding: 0;
}

.card {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    height: 100vh;
}

.cardMain {
    background-color: white;
    height: 80vh;
    width: 350px;
    border-radius: 30px;

}

.first {
    height: 50%;
    background-color: rgb(0, 83, 225);
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.firstSection {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}


.arrowImg {
    color: white;
    height: 20px;
    width: 30px;
}

.cart {
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cartImg {
    height: 20px;
    width: 30px;
}