* {
    margin: 0;
    padding: 0;
}

.card {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    padding: 10px;
}

.cardMain {
    background-color: white;
    height: 100vh;
    width: 350px;
    border-radius: 30px;

}

.first {
    height: 50%;
    background-color: rgb(0, 83, 225);
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.firstSection {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}


.arrowImg {
    color: white;
    height: 20px;
    width: 30px;
}

.cart {
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cartImg {
    height: 20px;
    width: 30px;
}

.secondSection {
    display: flex;
    justify-content: space-between;
}

.firstText {
    color: aliceblue;
    margin-bottom: 40px;

}

.textSection {
    padding: 20px 0 0 30px;

}

.controller {
    transform: rotate(270deg);
    width: 280px;
    height: 250px;
    object-fit: contain;
    cursor: pointer;
}

.controller:hover {
    animation: infinite-spinning 4s;
}

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.imageSection {
    padding-top: 25px;
}

.second {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 108, 1) 84%, rgba(0, 0, 106, 1) 100%, rgba(0, 212, 255, 1) 100%);
    height: 50%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.secondHeading {
    color: aliceblue;
    font-size: 30px;
    padding: 30px 0 0 20px;
    font-family: 'Roboto', sans-serif;

}

.secondPara {
    color: aliceblue;
    padding: 20px;
}

.firstboxLayer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.leftLayer {
    display: flex;
}

.box {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: rgb(237, 236, 247);
    background: linear-gradient(90deg, rgba(237, 236, 247, 1) 0%, rgba(18, 168, 199, 1) 100%, rgba(0, 0, 106, 1) 100%);

}

.textbox {
    margin-left: 10px;
    color: aliceblue;
}

.title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.buttoncontainer {
    background-color: aliceblue;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 20px 20px;
    border-radius: 10px;
    
}
.preorder {
    background-color: green;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding:  0 10px;
    justify-content: space-between;
}
.buttonicon {
    width: 20%;
    border-left: 1px solid black;
    padding: 0 10px;
    height: 30px;
}
.righticon {
    width: 30px;
    height: 30px;
    object-fit:cover;
}